@import "tailwindcss";

@theme {
  --color-health-green: #10B981;
  --color-health-green-depth: #065f46;
  --color-staff-blue: #0096FF;
  --color-staff-blue-depth: #0070c1;
  
  --shadow-signature: 0 20px 40px -12px rgba(0, 0, 0, 0.1);
  --shadow-block: rgba(0, 0, 0, 0.15);
}
body {
  @apply bg-[#F0F2F5] text-slate-900 antialiased overflow-x-hidden;
}

.transition-signature {
  @apply transition-all duration-300 ease-out;
}